*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-image: url(charles-oliveira-e1773166028541.webp);/*baixar uma foto para fundo*/
    background-size: cover;            /*preenche todo espaço*/
    background-position: center;       /*centraliza imagem*/
    height: 100vh;                     /*altura tela*/
    /*deixa caixa no centro*/
    display: flex;
    align-items: center;
    justify-content:center;
}

.caixaApp {
    background-color:  rgb(77,42, 13); /*modificar*/
    width:450px ; /*modificar*/
    padding:35px; /*modificar*/
    border-radius: 25px;
}
.texto{
    width:100%;
    height: 100px;
    border:none;
    outline: none;/* borda quando clica*/
    background-color: #ffffff1a; /*modificar*/
    color: rgb(115, 156, 156);/*cor do texto - modificar*/
    padding:15px;/*modificar - escpaço interno*/
}

.tradução{
    padding: 15px;
    background-color: #ffffff1a;
}
.traducao{
    font-size: 18px;/*modificar*/
    color: #ffffff99;
    /*modificar */
}
.titulo-traducao {
    color: #ffffff99;
    font-size:14px;
    margin-bottom: 10px;
    border-radius: 15px;
}
